@font-face{
    src: url(./fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
    font-family: Bung;
}
body{
    background-color: lightblue;
}
h3{
    font-family: monospace;
    text-shadow: 3px 10px 1px purple;
    color: white;
    text-shadow: 3px 3px 2px black, -3px -3px 2px hsl(190, 45%, 45%);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
#p1{    
    color: yellow;
}   
#p2{
    color: rgb(55, 255, 20);
    border-left: 4px solid rgb(209, 39, 39);

} 
#p3{    
    border-style: solid;
    border-width: 3px   ;       
    color: blue     ;   
    border-color : green;
    border-radius: 31px;
}
#p4{
    font-family: "Bung";
    color:white;    
    font-weight: normal;
    font-style: normal;
} 